body {
    font-family: 'Public Sans', sans-serif;
}

button {
    color: hsl(0, 0%, 100%);
    font-size: 1em;
    font-weight: 700;
    margin-top: 8px;
    padding-right: 20px;
    padding-left: 20px;
    border-radius: 18px;
    border-width: 0px;
    background-color: hsl(136, 65%, 51%);
    background-image: linear-gradient(to right, hsl(136, 65%, 51%), hsl(192, 70%, 51%));
    cursor: pointer;
}
header {
    background-color: hsl(0, 0%, 100%);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 1%;
    padding-bottom: 1%;
    position: fixed;
    top: 0;
    width: 80%;
}
header img {
    height: 10%;
    margin-top: 17px;
    padding-bottom: 10px;
}
section{
    display: flex;
    margin-bottom: 0px;
}
.detailed-view p {
    font-size: 20px;
    color: hsl(233, 8%, 62%);
    margin-top: 0%;
}
.detailed-view h4 {
    font-size: 50px;
    margin-bottom: 17px;
}
.detailed-view button {
    height: 50px;
    width: 180px;
}
summary {
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 10px;
    padding-left: 10%;
    background-color: hsl(220, 16%, 96%);  
}
summary p {
    font-size: 20px;
    color: hsl(233, 8%, 62%);
    margin-top: 0px; 
}

summary .containers h6 {
    font-size: 25px;
    margin-top: 20px;
}

summary .containers p {
    font-size: 17px;
}

article {
    padding-left: 10%;
    background-color: hsl(0, 2%, 98%);
    margin-top: 0px;
    padding-top: 25px;
}
.article-containers {    
    display: flex;
    margin-top: 2%;
    padding-bottom: 4%; 
}
.social-logo svg:hover path {
    cursor: pointer;
    fill: hsl(136, 65%, 51%);
}
.social-logo svg {
    margin-right: 6px;
    margin-left: 6px;
}

@media screen and (min-width: 769px) and (max-width: 1099px) {
    header ul {
        list-style-type: none;
        display: flex;
        flex-direction: row;
        color: hsl(233, 8%, 62%);
    }

    header ul li {
        margin-right: 10px;
        margin-left: 10px;
        margin-top: 2px;
        cursor: pointer;
        padding: 5px;
    }

    header ul li:hover {
        color: green;
        font-weight: bold;
        border-style: solid;
        border-bottom-color: green;
        border-top-color: white;
        border-left-color: white;
        border-right-color: white;
    }

    nav {
        display: none;
    }

    section {
        height: 70vh;
        flex-direction: row;
        justify-content: space-between;
        margin-top: 20px;
        background: url('./images/bg-intro-desktop.svg') no-repeat;
        background-size: 50% 150%;
        background-position: bottom 3% left 120%;
    }

    .detailed-view {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-left: 10%;
    }

    .detailed-view p {
        font-size: 15px;
        padding-right: 35%;
    }
    .image-phones {
        height: 120%;
        width: auto;
        margin-left: 10%;
    }

    summary h6 {
        font-size: 40px;
        margin-bottom: 17px;
    }
    summary p {
        padding-right: 45%;  
    }
    .containers {
        display: flex;
        flex-direction: row;
        margin-top: 3%;
        padding-bottom: 4%;
    }

    .article-containers {
        flex-direction: row;
    }

    .card {
        width: 18vw;
        background-color: white;
        margin-right: 10px;
        margin-left: 10px;
        padding-bottom: 20px;
        border-radius: 10px;

    }

    .article-image {
        width: 18vw;
        height: 23vh;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }

    article h4 {
        padding-left: 10px;
        font-size: 40px;
        margin-bottom: 0px;
        margin-top: 0px;
    }

    .card-author {
        color: hsl(233, 8%, 62%);
        padding-left: 10px;
        margin-bottom: 0px;
        font-size: 15px;
    }

    .card-heading {
        font-size: 15px;
        margin-top: 7px;
        margin-bottom: 0px;
        padding-left: 10px;
        cursor: pointer;
    }

    .card-heading:hover {
        color: green;
    }

    .card-description {
        color: hsl(233, 8%, 62%);
        padding-left: 10px;
        margin-bottom: 0px;
        font-size: 18px;
    }

    footer {
        display: flex;
        flex-direction: row;
        background-color: hsl(233, 26%, 24%);
        padding-left: 10%;
        padding-right: 10%;
        padding-top: 2%;
        padding-bottom: 2%;
    }
    .footer-container-1{
        margin-right: 0px;
    }

    .footer-logo-container {
        background: url('./images/logo.svg') no-repeat;
        margin-bottom: 20%;
        margin-right: 0px;
    }

    .footer-heading {
        color: white;
        font-size: 20px;
        font-weight: bolder;
        padding-left: 28px;
        padding-bottom: 3px;
    }

    .social-logo {
        margin-right: 0px;
        margin-left: 6px;
        cursor: pointer;
        width: 200px;
    }
    .social-logo svg {
        margin-right: 2px;
        margin-left: 2px;
    }
    .footer-list {
        display: flex;
        flex-direction: row;
    }

    .footer-list-items-1, .footer-list-items-2 {
        list-style-type: none;
        color: white;
        cursor: pointer;
        margin-right: 10px;
    }
    .list-item {
        margin-top: 10px;
        margin-bottom: 10px;
        width: 200%;
    }

    .list-item:hover {
        transition: 0.1s;
        color: hsl(136, 65%, 51%);
    }

    .footer-button {
        height: 50px;
        width: 200px;
        margin-bottom: 15px;
        margin-left: 25px;
    }

    .copy-right {
        color: hsl(233, 8%, 62%);
        font-size: 13px;
        margin-left: 40px;
        width: 250px;
    }
}


@media screen and (min-width: 1100px) {
    header ul {
        list-style-type: none;
        display: flex;
        flex-direction: row;
        color: hsl(233, 8%, 62%);
    }

    header ul li {
        margin-right: 10px;
        margin-left: 10px;
        margin-top: 2px;
        cursor: pointer;
        padding: 5px;
    }

    header ul li:hover {
        color: green;
        font-weight: bold;
        border-style: solid;
        border-bottom-color: green;
        border-top-color: white;
        border-left-color: white;
        border-right-color: white;
    }

    nav {
        display: none;
    }

    section {
        height: 50vh;
        flex-direction: row;
        justify-content: space-between;
        margin-top: 20px;
        background: url('./images/bg-intro-desktop.svg') no-repeat;
        background-size: 50% 150%;
        background-position: bottom 3% left 120%;
    }

    .detailed-view {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-left: 10%;
    }

    .detailed-view p {
        padding-right: 35%;
    }

    .image-phones {
        height: 120%;
        width: auto;
    }

    summary h6 {
        font-size: 40px;
        margin-bottom: 17px;
    }
    summary p {
        padding-right: 45%;  
    }
    .containers {
        display: flex;
        flex-direction: row;
        margin-top: 3%;
        padding-bottom: 4%;
    }
    .super-sub-container{
        display: flex;
        flex-direction: row;
    }
    .article-containers {
        flex-direction: row;
    }

    .card {
        width: 18vw;
        background-color: white;
        margin-right: 10px;
        margin-left: 10px;
        padding-bottom: 20px;
        border-radius: 10px;

    }

    .article-image {
        width: 18vw;
        height: 23vh;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }

    article h4 {
        padding-left: 10px;
        font-size: 40px;
        margin-bottom: 0px;
        margin-top: 0px;
    }

    .card-author {
        color: hsl(233, 8%, 62%);
        padding-left: 10px;
        margin-bottom: 0px;
        font-size: 15px;
    }

    .card-heading {
        font-size: 15px;
        margin-top: 7px;
        margin-bottom: 0px;
        padding-left: 10px;
        cursor: pointer;
    }

    .card-heading:hover {
        color: green;
    }

    .card-description {
        color: hsl(233, 8%, 62%);
        padding-left: 10px;
        margin-bottom: 0px;
        font-size: 18px;
    }

    footer {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        background-color: hsl(233, 26%, 24%);
        padding-left: 10%;
        padding-right: 10%;
        padding-top: 2%;
        padding-bottom: 2%;
    }

    .footer-logo-container {
        background: url('./images/logo.svg') no-repeat;
        margin-bottom: 30%;
    }

    .footer-heading {
        color: white;
        font-size: 20px;
        font-weight: bolder;
        padding-left: 28px;
        padding-bottom: 3px;
    }

    .social-logo {
        margin-right: 6px;
        margin-left: 6px;
        cursor: pointer;
    }

    .social-logo:hover {
        transition: 0.1s;

    }

    .footer-list {
        display: flex;
        flex-direction: row;
    }

    .footer-list-items-1 {
        list-style-type: none;
        color: white;
        margin-right: 60px;
        cursor: pointer;
    }

    .footer-list-items-2 {
        list-style-type: none;
        color: white;
        margin-left: 60px;
        cursor: pointer;
    }

    .list-item {
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .list-item:hover {
        transition: 0.1s;
        color: hsl(136, 65%, 51%);
    }

    .footer-button {
        height: 50px;
        width: 200px;
        margin-bottom: 15px;
        margin-left: 25px;
    }

    .copy-right {
        color: hsl(233, 8%, 62%);
    }
}

@media screen and (max-width: 768px) {
    .navlinks {
        display: none;
    }
    .header-button {
        display: none;
    }
    .image {
        margin-left: 85%;
        height: 30px;
        width: 30px;
    }

    nav {
        height: 80px;
        width: 100%;
        background: white;
    }

    nav div ul li a:hover {
        color: green;
        font-weight: bold;
    }

    input[type="checkbox"] {
        display: none;
    }
    .ul-container{
        text-align: center;
    }

    nav div ul {
        list-style: none;
        position: fixed;
        top: 80px;
        left: -100%;
        background-color: white;
        height: 40%;
        width: 70%;
        transition: 0.3s;
        text-align: center;
    }

    #click:checked~div ul {
        left: 10%;
    }

    nav div ul li {
        margin-top: 30px;
        margin-bottom: 30px;
    }

    nav div  ul li a {
        color: black;
        text-decoration: none;
        font-size: 18px;
        font-weight: 500;
        border-radius: 5px;
        margin-right: 10%;
        transition: 0.3s;
    }

    #click:checked~ul li a {
        margin-left: 0px;
    }

    section {
        flex-direction: column-reverse;
        background: url('./images/image-mockups.png'), url('./images/bg-intro-mobile.svg');
        background-repeat: no-repeat, no-repeat;
        background-size: 100% 55vh, 100% 40%;
        background-position: top -3% left, top;
        padding-bottom: 30px;
    }

    .image-container {
        padding-left: 8%;
        overflow: hidden;
        height: 55vh;
    }

    .image-phones {
        display: none;
    }

    .detailed-view {
        text-align: center;
        padding-left: 35px;
        padding-right: 35px;
    }
    summary {
        text-align: center;
        padding-right: 10%;
        padding-bottom: 30px;
    }
    summary h6 {
        font-size: 40px;
        margin-bottom: 10px;
    }
    summary p { 
        margin-bottom: 10%;
    }
    .article-containers {
        flex-direction: column; 
    }
    .card {
        width: 80vw;
        height: 70vh;
        background-color: white;
        margin-bottom: 50px;
        padding-bottom: 50px;
        border-radius: 10px;
    }

    .article-image {
        width: 80vw;
        height: 30vh;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }

    .card-author {
        color: hsl(233, 8%, 62%);
        padding-left: 20px;
        margin-bottom: 0px;
        font-size: 15px;
    }

    .card-heading {
        font-size: 22px;
        margin-top: 7px;
        margin-bottom: 0px;
        padding-left: 20px;
        cursor: pointer;
    }

    .card-heading:hover {
        color: green;
    }
    .card-description {
        color: hsl(233, 8%, 62%);
        padding-left: 20px;
        padding-right: 20px;
        margin-bottom: 0px;
        font-size: 18px;
    }
    article h4 {
        text-align: center;
        font-size: 40px;
        margin-bottom: 20px;
        margin-top: 0px;
        padding-top: 40px;
    }
    footer {
        display: flex;
        flex-direction: column;
        background-color: hsl(233, 26%, 24%);
        padding-top: 2%;
        padding-bottom: 2%;
    }
    .footer-logo-container {
        background: url('./images/logo.svg') no-repeat;
        background-position: center;
        text-align: center;
    }
    .footer-heading {
        color: white;
        font-size: 20px;
        font-weight: bolder;
        padding-left: 28px;
    }
    .social-logo{
        text-align: center;
    }
    .footer-list{
        margin:auto;
    }
    .footer-list-items-1, .footer-list-items-2 {
        list-style-type: none;
        color: white;
        cursor: pointer;
        font-weight: bold;
    }
    .list-item {
        margin-bottom: 10px;
    }
    .list-item:hover {
        color: hsl(136, 65%, 51%);
        font-weight: bold;
    }
    .footer-button-container{
        text-align: center;
    }
    .footer-button {
        height: 50px;
        width: 200px;
        margin-bottom: 15px;
        margin-left: 25px;
    }
    .copy-right {
        color: hsl(233, 8%, 62%);
        text-align: center;
    }
}